* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* header */
header{
  /* border: solid 1px black;  */
  border-radius: 10px;
  height: 20vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

            
header .contactMe {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
  /* border: solid black 1px; */
  border-radius: 10px;
  /* background-color: rgb(238, 231, 231); */
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
}

.textPresentation {
  /* border: solid black 1px; */
  width: 100%;
  /* background-color: rgb(167, 19, 167); */
  color: whitesmoke;
  font-size: large;
  border-radius: 10px;
}

.contactMe img {
  width: 7%;
  cursor: pointer;
}

/* section */
section {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 1%;
  /* border: solid black 1px; */
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

article div {
  /* border: solid black 1px; */
  border-radius: 15px;
  width: 30%;
  height: 60vh;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
}

article div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 20px 5px;
  transition: all ease .3s;
}

article div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.skillsDiv {
  background-image: url('/imagenes/40752.jpg');
  background-size: cover;
  color: rgb(146, 20, 146);
}

.aboutme {
  background-image: url('/imagenes/5361360.jpg');
  background-size: cover;
  color: rgb(146, 20, 146);
}

.projects {
  background-image: url('/imagenes/34334.jpg');
  background-size: cover;
  color: rgb(146, 20, 146);
}

/* infos */
.Info {
  /* border: solid black 1px; */
  border-radius:10px ;
  background-color: white;
  position: absolute;
  z-index: 3;
  width: 71%;
  height: 70%;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
}

.Info .close {
  /* border: solid black 1px; */
  width: 100%;
}

.close img {
  width: 4%;
  cursor: pointer;
}

/* skills section */

.containerSkills {
  /* border: solid black 1px; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.imageSkills {
  /* border: solid black 1px; */
  width: 40%;
  height: 100%;
}

.imageSkills img {
  width: 100%;
  height: 80%;
}

.mySkills {
  /* border: solid black 1px; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.mySkills div {
  width: 30%;
  font-weight: bold;
}

.mySkills img {
  width: 25%;
  cursor: pointer;
}

/* about me section */
.containerAboutme {
  /* border: solid black 1px; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.imgAboutme {
  width: 35%;
  height: 100%;
  /* border: solid black 1px; */
}

.imgAboutme img {
  width: 100%;
  height: 100%;
}

.contentAboutme {
  width: 65%;
  height: 100%;
  /* border: solid black 1px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
}

.contentAboutme .textAboutme {
  width: 70%;
  cursor: pointer;
  margin-top: 3%;
}

.myProfessionalSkills {
  /* border: solid black 1px; */
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.myProfessionalSkills figure {
  width: 20%;
}

.myProfessionalSkills img {
  width: 50%;
}

/* projects section */
.containerProjects {
  /* border: solid black 1px; */
  max-width: 100%;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
}

.projectsCards {
  /* border: solid black 1px; */
  width: 30%;
  height: 95%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
  margin-top: 1%;
}

.projectsCards:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 20px 5px;
  transition: all ease .3s;
}

.projectsCards .video {
  /* border: solid black 1px; */
  border-radius: 10px;
  width: 100%;
  height: 50%;
}

.video video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.infoproject {
  height: 50%;
  width: 100%;
  /* border: solid black 1px; */
  display: flex;
  flex-flow: column ;
  justify-content: space-evenly;
  align-items: center; 
}

.infoproject img {
  width: 15%;
  cursor: pointer;
  margin-top: 2%;
}

.projectDescription {
  overflow-y: scroll;
  margin-top: 2%;
}

/* animation section */
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          color: black;
}

 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


/* cv section */
.cv-float {
  /* border: solid black 1.5px; */
  border-radius: 55%;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 60, 167);
  color: white;
  cursor: pointer;
}

.cv-window {
  /* border: solid black 1px; */
  border-radius: 10px;
  width: 35vw;
  height: 93vh;
  position: absolute;
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 2px;
  background-color: whitesmoke;
}

.cv-window img {
  width: 8%;
}

.cv-img {
  height: 100%;
  width: 100%;
}

.cv-img img {
  width: 100%;
  height: 100%;
}

.descarga-cv {
  /* border: solid black 1px; */
  width: 100%;
  background-color: rgb(33, 33, 158);
  color:  white;
  font-weight: bold;
  cursor: pointer;
}

/* cv animation */
.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
